

/*--------General styles for all the website-----------------*/
 h1 {
    font-family: Calibri, sans-serif;
    font-size: 28px;
    font-weight: bold;
    color: #64b961;
    padding: 20px;
    
}

h2 {
    font-family: Calibri, sans-serif;
    font-size: 22px;
    font-weight: bold;
    color: #7bb4be;
}

h3 {
    font-family: Calibri, sans-serif;
    font-size: 18px;
    font-style: italic;
    color: #a3aa46;
}

h4 {
  font-family: Calibri, sans-serif;
  font-size: 50px;
  font-style: Bold;
  color: black;
}

p {
    font-family: Calibri, sans-serif;
    font-size: 16px;  
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
    /* width: 90%; */
}

* {
background-color: rgb(250, 245, 181);
}

body {
    margin: 0%;
}

.button {
    color: black;
    border: 2px solid #a3aa46;
    border-radius: 12px;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    font-family: Calibri, sans-serif;
    margin-bottom: 20px;
  }

  .button:hover {
    background-color: white;
  }



 /*--------Top navigation menu-----------------*/
 .topnav-contact {
    overflow: hidden;
    padding: 30px 20px 30px 20px; /*Etre éloigné du bord de la page */
    display: flex;
    background-color: #ffffff;
    height: auto;
   }
   .topnav-menu {
     text-align: center;
     padding: 0px;
     list-style-type: none; /*enlever les bullets points*/
     background-color: #ffffff;
     display: flex;
     align-items: center;
     justify-content: center;
     justify-content: space-around;
     justify-content: space-evenly;
     margin: auto;
   }
   
   .topnav-link { /* Pour éloigner les mots les uns des autres, ce qui est de la mise en page des mots dans la box*/
     text-align: center;
     padding: 30px;
     text-decoration: none; /*enlever le surlignage*/
     font-size: 17px;
     background-color: #ffffff;
     color: #7bb4be;
     font-family: Calibri, sans-serif;
     font-weight: bold;
   }
   li a:hover {
     color: lightslategray;
   }


    /*--------Big image on homepage-----------------*/

  .background-image {
   display: flex;
   justify-content: center;
   width: 100%;
   height: 750px;
  }
  
  .background-image img {
    opacity: 0.7;
    width: 100%;
    object-fit: cover;
}
  .textonimage {
    position: absolute; /* texte sur l'image */
    margin-top: 250px;
    padding-top: 20px;
    width: 100%;
    color: #a3aa46;
    text-align: center;
    font-size: 40px;
    font-family: Calibri, sans-serif;
    opacity: 0.8;
  }


  /* 3 paragraphs */

  #threeparagraphsparent {
    display: flex;
    justify-content: space-around;
    justify-content: flex-start;
    justify-content: space-evenly;
    width: 80%;
    margin: auto;
    text-align:center;
    align-items: center;

  }
  
  .threeparagraphs {
    background-color: rgb(250, 245, 181);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px 25px;

  }
  .threeparagraphs a {
    width: 20%;
  }



  /* Testimonials */
    
  .testcontainer {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    justify-content: space-evenly;
    width: 80%;
    text-align:center;
    margin: auto;
}

  .testimages {
    display: flex;
    width:  200px;
    height: 200px;
    object-fit: cover;
    object-fit: scale-down;
    overflow: hidden;
    border-radius: 30% 50%;
    border: 3px solid #9bcdcc;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9bcdcc;
    align-items: center;
  }

  .testimonials   {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 100%;
    padding: 0px 25px;
  }

  h2 {
    text-align: center;
}

/*Responsiveness*/

@media screen and (min-width:600px) and (max-width:950px) {
  .testcontainer {
    flex-wrap: wrap;
  }
  #test2 {
    padding: 40px 0px;
  }
  .testimonials p {
    width: 50%; 
  } 
  #threeparagraphsparent {
    flex-wrap: wrap;
  }
  .threeparagraphs p {
    width: 50%; 
  }
  .topnav-menu {
    display: flex;
    text-align: center;
    padding: 0px;
    list-style-type: none; 
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    justify-content: space-evenly;
    margin: auto;
  }
 
  .topnav-link { 
    text-align: center;
    padding: 12px;
    text-decoration: none; 
    font-size: 17px;
    background-color: #ffffff;
    color: #7bb4be;
    font-family: Calibri, sans-serif;
    font-weight: bold;
  }
}



@media screen and (max-width:599px) {
  .testcontainer {
    flex-wrap: wrap;
  }
  #padding {
    padding: 40px 0px;
  }
  .testimonials p {
    width: 80%; 
  } 
  #threeparagraphsparent {
    flex-wrap: wrap;
  }
  .threeparagraphs p {
    width: 80%; 
  }
  .topnav-contact{
    padding: 20px 20px 20px 20px; 
  }
  .topnav-menu {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    padding: 0px;
    list-style-type: none;
    background-color: #ffffff;
    align-items: center;
    justify-content: center;
    justify-content: space-around;
    margin: auto;
  }

  .topnav-item{
    flex-basis: 33%;
    background-color: #ffffff;
  }

  .topnav-link { 
    text-align: center;
    padding: 1px;
    text-decoration: none; 
    font-size: 17px;
    background-color: #ffffff;
    color: #7bb4be;
    font-family: Calibri, sans-serif;
    font-weight: bold;
  }
}


  /* ABOUT PAGE */

  .sarahimage-parent {
    display: flex;  
    width: 80%;
    margin:auto;
  }

  .sarahimage {
    border-radius: 30% 50%;
    border: 3px solid #9bcdcc;
    position: relative;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #9bcdcc;
  }

  .list-about {  
    list-style-type: none;
    padding: 0px;
  }
  
  .education {
  margin: auto;
  width: 80%;
  }

  @media screen and (max-width:599px) {
    .sarahimage-parent {
    flex-wrap: wrap;
    }
  } 

  /* CONTACT PAGE*/

  .flexconcal {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    justify-content: center;
    justify-content: space-evenly;
    text-align:center;
    margin: auto;
    padding:20px 20px 50px;
  }
  #calendar{
    padding-top: 45px;
  }
  .mapouter {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
}

 .gmap_canvas {
   align-items: center;
   justify-content: center;
 }
   /* Footer */
      

  footer {
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
    color: #7bb4be;
    background-color: #ffffff;
  }

  footer p {
    background-color: #ffffff;
  }

   .footer {
      position: fixed;
      bottom: 0;
      text-align: center;
  }

  .logos {
      display: flex;
      justify-content: center;
      align-content: space-between;
      margin-top: 18px;
  }

  body {
      margin: 0;
  }
 
  input[type=text], select, textarea {
    width: 100%; 
    padding: 12px; 
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
  }
  
  
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .contact {
    justify-content: center;
  }

